- if @bib and @bib.error
  %div#errors.alert.alert-danger 
    %span.glyphicon.glyphicon-exclamation-sign 
    %span#error-heading Sorry, but the LBMC Pilot system encountered a problem.
    %p.pad_above
    - @bib.error.validation_errors.each do |validation_error| 
      - if validation_error.message.include? "245"
        A title is required.
      - elsif validation_error.message.include? "020"
        There is a problem with the ISBN.  It needs to be a valid ISBN, either 10 or 13 digits long.  If the problem persists, leave the ISBN field empty.
      - else
        = validation_error.message
