# Copyright 2016 OCLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

- if @bib and @bib.error
  %div#errors.alert.alert-danger 
    %span.glyphicon.glyphicon-exclamation-sign 
    %span#error-heading #{I18n.translate 'message.error.heading'}
    %ul
      - @bib.error.validation_errors.each do |validation_error| 
        - if validation_error.message.include? "245"
          %li.error-message #{I18n.translate 'message.error.no-title'}
        - elsif validation_error.message.include? "020"
          %li.error-message #{I18n.translate 'message.error.isbn'}
        - else
          %li.error-message= validation_error.message
