- if @bib and @bib.error

  = partial :bib_errors

- else

  %div#errors.alert.alert-danger 
    %span#error-heading
      %span.glyphicon.glyphicon-exclamation-sign 
      #{I18n.translate 'message.error.heading'}
    %div.pad_above
      #{I18n.translate 'message.error.other'}