- if session[:token].nil? or session[:token].expired?

  %div.row 
    %div.col-md-12
      %div.well
        %div.text
          The LBMC (Low-Barrier Metadata Creation) Pilot study will test a system for quickly creating simple cataloging records in WorldCat.
        %div.text
          Pilot institutions can get started by selecting their institution link below.

  %div#get-started.list-group
    - INSTITUTIONS.each do |registry_id, info|
      %a.list-group-item{ :id => "login-to-#{registry_id}", :href => url('/authenticate?registry_id='+registry_id.to_s), :style => 'font-size: 14pt; font-weight: bold;' }
        %img.logo_medium{ :src => url("/images/#{info['symbol']}.jpg") }
        %span{ :style => 'padding-left: 10px' }= info['name']

- else
  View a 
  %a#test-record{ :href => url("/record/883876185")} test record
  or create a  
  %a#new-record{ :href => url("/record/new")} new record
