%div.row 
  %div.col-md-12
    %div.well
      %div.text
        %h4 Welcome!
        The LBMC (Low-Barrier Metadata Creation) system is a simple interface for creating catalog records in WorldCat.
        Selected pilot libraries are helping OCLC test this system.
          
- if session[:token].nil? or session[:token].expired?

  %div#get-started.list-group
    - INSTITUTIONS.each do |registry_id, info|
      %a.list-group-item.pilot_list{ :id => "login-to-#{registry_id}", :href => url('/authenticate?registry_id='+registry_id.to_s) }
        %img.logo_medium{ :src => url("/images/#{info['symbol']}.jpg") }
        %span.pad_left_wide= info['name']

- else
  View a 
  %a#test-record{ :href => url("/record/883876185")} test record
  or create a  
  %a#new-record{ :href => url("/record/new")} new record
