%div.row 
  %div.col-md-12
    %div.well
      %div.text
        %h3 Welcome!
        The LBMC (Low-Barrier Metadata Creation) system is a simple interface for creating catalog records in WorldCat.
        Selected pilot libraries are helping OCLC test this system.
        %div.pad_above
        - if session[:token].nil? or session[:token].expired?
          Are you a pilot tester?  Get started by selecting your institution from the list below.
          %div#get-started.list-group.pad_above
            - INSTITUTIONS.each do |registry_id, info|
              %a.list-group-item.pilot_list{ :id => "login-to-#{registry_id}", :href => url('/authenticate?registry_id='+registry_id.to_s) }
                %img.logo_medium{ :src => url("/images/#{info['symbol']}.jpg") }
                %span.pad_left_wide= info['name']
        - else
          Are you a pilot tester?  Select the button below to view the form for creating a new record.
          %div.pad_above
            %a#new-record.btn.btn-success{ :href => url("/record/new")} 
              %span.glyphicon.glyphicon-pencil
              Create a New Record
            
          %div.pad_above
            %ul.list-group
              %li.list-group-item 
                %h4 Hints for new users
              %li.list-group-item You'll be asked for basic information about a book: title, author, publication information, how many pages, and what it's about.
              %li.list-group-item You won't need to know all of those details to get started: the only required field in a record is the title.
              %li.list-group-item If there is an error in the information entered in the form, don't worry, you'll see the record after you create it and can fix it.
              %li.list-group-item And a cataloger will review the record after it's created and can resolve any remaining issues then.
    
