%h2 Welcome!

%div#get-started{ :class => 'list-group' }
  %a{ :href => '#', :class => 'list-group-item disabled', :style => 'background-color: #e9eed8; color: #000;' }
    %h4{ :class => 'list-group-heading' }
      The LBMC (Low Barrier Metadata Creation) Pilot is a prototype interface for quickly creating simple bibliographic records in WorldCat.  Select your institution to get started ...

  - if session[:token].nil? or session[:token].expired?

    - INSTITUTIONS.each do |registry_id, info|
      %a{ :href => url('authenticate?registry_id='+registry_id.to_s), :style => 'font-size: 14pt; font-weight: bold;', :class => 'list-group-item'}
        %img{ :src => url("/images/#{info['symbol']}.jpg"), :height => "80" }
        %span{ :style => 'padding-left: 10px' }
          #{info['name']}

  - else
    %a#test-record{ :href => url("/record/883876185"), :class => 'list-group-item' } Get started with a test record
