# Copyright 2016 OCLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

-# new.haml 

- @data = Hash.new
- @data['id'] = params[:id].nil? ? '' : params[:id].to_s
- @data['language'] = session[:marc_language].nil? ? '' : session[:marc_language]
- @data['country_of_publication'] = session[:marc_country].nil? ? '' : session[:marc_country]
- @data['isbn'] = params[:isbn].nil? ? Array.new : params[:isbn]
- @data['title'] = params[:title].nil? ? '' : params[:title]
- @data['v880'] = params[:v880].nil? ? Array.new : params[:v880]
- @data['author'] = Array.new
- @data['author_type'] = Array.new
- @data['author_type'].push('person')
- @data['author_is_person_0'] = true
- @data['author_is_organization_0'] = false
- @data['place_of_publication'] = params[:place_of_publication].nil? ? '' : params[:place_of_publication]
- @data['publisher'] = params[:publisher].nil? ? '' : params[:publisher]
- @data['publication_date'] = params[:publication_date].nil? ? '' : params[:publication_date]
- @data['extent'] = params[:extent].nil? ? '' : params[:extent]
- @data['subject'] = params[:subject].nil? ? Array.new : params[:subject]
- @data['subject_string'] = Array.new
- @data['subject_raw'] = Array.new
- @data['subject_type'] = Array.new
- @data['subject_id'] = Array.new
- @data['subject_indicator'] = Array.new
- @button_title = I18n.translate 'link.create-submit.title'
- @button_label = I18n.translate 'link.create-submit.text'

%div#webkit_message

%div.well

  %h3
    %span{ :class=>"glyphicon glyphicon-pencil"}
    #{I18n.translate 'record.create.heading'} 

  %div{ :style => "margin-top: 2em;" }

    = partial :record_form, locals: {action: "/record/create", data: @data }


