-# new.haml 

- @data = Hash.new
- @data['id'] = params[:id].nil? ? '' : params[:id].to_s
- @data['title'] = params[:title].nil? ? '' : params[:title]
- @data['subtitle'] = params[:subtitle].nil? ? '' : params[:subtitle]
- @data['author'] = params[:author].nil? ? '' : params[:author]
- @data['publisher'] = params[:publisher].nil? ? '' : params[:publisher]
- @data['extent'] = params[:extent].nil? ? '' : params[:extent]
- @data['subject'] = params[:subject].nil? ? '' : params[:subject]

%h3
  %span{ :class=>"glyphicon glyphicon-pencil"}
  Create a New Record 

%div{ :style => "margin-top: 2em;" }

  = partial :record_form, locals: {action: "/create", data: @data }


