%div#errors.alert.alert-info
  %span.glyphicon.glyphicon-exclamation-sign 
  %span#error-heading #{I18n.translate 'message.info.notfound.title'}
  
  %div.pad_above
    #{I18n.translate 'message.info.notfound.response'}

