%div#errors.alert.alert-info
  %span#error-heading.glyphicon.glyphicon-exclamation-sign Sorry, but the requested page was not found.
  
  %div.pad_above
    You might try starting from the 
    %a{ :href => url('/'), :title => "Visit the LBMC home page" } LBMC home page.

