-# record.haml 

- @data = Hash.new
- @data['id'] = @bib.id
- @data['title'] = @bib.marc_record['245']['a'].nil? ? '' : @bib.marc_record['245']['a']
- @data['subtitle'] = @bib.marc_record['245']['b'].nil? ? '' : @bib.marc_record['245']['b']
- @data['author'] = @bib.marc_record['100'].nil? ? '' : @bib.marc_record['100']['a']
- @data['publisher'] = @bib.marc_record['260'].nil? ? '' : @bib.marc_record['260']['b']
- @data['extent'] = @bib.marc_record['300'].nil? ? '' : @bib.marc_record['300']['a']
- @data['subject'] = @bib.marc_record['650'].nil? ? '' : @bib.marc_record['650']['a']

- if @bib.is_app_created and INSTITUTIONS[session[:registry_id].to_i]['symbol'] == @bib.marc_record['040']['a']

  %h3
    %span{ :class=>"glyphicon glyphicon-pencil"}
    Edit Record 
    %a{ :href => @bib.link, :target => 'blank', :title => "View me in WorldCat.org" }= @bib.id
    
  = partial :record_form, locals: {action: "/update", data: @data }

- else

  %div{ :class=>"alert alert-warning"}
    %span{ :class=>"glyphicon glyphicon-exclamation-sign"}
    Sorry, but the record for OCLC number 
    %a{ :href => @bib.link, :target => 'blank', :title => "View me in WorldCat.org" }= @bib.id
    is not available for editing in this application.

%h3
  %span{ :class=>"glyphicon glyphicon-list"}
  MARC Record View
  
%pre= @bib.marc_record



