!!! XML

= @bib.doc.xpath('/atom:entry/atom:content/rb:response/marc:record', 
  'atom' => 'http://www.w3.org/2005/Atom', 
  'rb' => 'http://worldcat.org/rb', 
  'marc' => 'http://www.loc.gov/MARC21/slim').to_xml