-# record.haml 

- @data = Hash.new
- @data['id'] = @bib.id
- @data['language'] = @bib.marc_record['008'].nil? ? '' : @bib.marc_record['008'].to_s[39,3]
- @data['country_of_publication'] = @bib.marc_record['008'].nil? ? '' : @bib.marc_record['008'].to_s[19,3]
- @data['isbn'] = @bib.marc_record['020'].nil? ? '' : @bib.marc_record['020']['a']
- @data['title'] = @bib.marc_record['245']['a'].nil? ? '' : @bib.marc_record['245']['a']
- @data['title_880'] = @bib.marc_record['880'].nil? ? nil : @bib.marc_record['880']['a']
- @data['author'] = @bib.marc_record['100'].nil? ? '' : @bib.marc_record['100']['a']
- @data['author'] = @bib.marc_record['110'].nil? ? @data['author'] : @bib.marc_record['110']['a']
- @data['author_is_person'] = @bib.marc_record['110'].nil? ? true : false
- @data['author_is_organization'] = @bib.marc_record['110'].nil? ? false : true
- @data['place_of_publication'] = @bib.marc_record['260'].nil? ? '' : @bib.marc_record['260']['a']
- @data['publisher'] = @bib.marc_record['260'].nil? ? '' : @bib.marc_record['260']['b']
- @data['publication_date'] = @bib.marc_record['260'].nil? ? '' : @bib.marc_record['260']['c']
- @data['extent'] = @bib.marc_record['300'].nil? ? '' : @bib.marc_record['300']['a']
- @data['subject'] = @bib.marc_record['653'].nil? ? '' : @bib.marc_record.fields('653')
- @button_label = "Update this Record"

- if @bib.is_app_created? and belongs_to_current_user?(@bib.marc_record, INSTITUTIONS[session[:registry_id].to_i]['symbol'])

  %div#webkit_message

  %div.well
    %h3.record_label
      %span.glyphicon.glyphicon-pencil
      Edit Record 
      =@bib.id

    = partial :record_form, locals: {action: "/record/update", data: @data }

- else
  
  %div.well
    %div.alert.alert-info
      %span.glyphicon.glyphicon-exclamation-sign
      Sorry, but this record is not available for editing in the LBMC Pilot.
    
    = partial :record_display, locals: {data: @data }

%div.row#marc_views
  %div.col-md-12
    %a#marc-view-link.btn.btn-default.btn-sm{ :href => '#', :onClick => '$("#marc-view").toggle(); $("html, body").animate({ scrollTop: $("#marc_views").offset().top}, 1000); return false;', :title => "View the record in MARC format" }
      %span.glyphicon.glyphicon-list
      View the MARC Record
    %a#marc-worldcat-link.btn.btn-default.btn-sm{ :href => @bib.link, :target => 'blank', :title => "View the record in WorldCat" }
      %span.glyphicon.glyphicon-globe
      View in WorldCat
    %a#marc-xml-link.btn.btn-default.btn-sm{ :href => url('/record/'+@bib.id+'.xml'), :title => "Download the record in MARC XML format" }
      %span.glyphicon.glyphicon-download
      Download MARC XML
    %div.pad_above
      %pre#marc-view= @bib.marc_record
