- oclcnum = @bib.id
- author = @bib.marc_record['100'].nil? ? '' : @bib.marc_record['100']['a']
- extent = @bib.marc_record['300'].nil? ? '' : @bib.marc_record['300']['a']
- publisher = @bib.marc_record['260'].nil? ? '' : @bib.marc_record['260']['b'] 
- subject = @bib.marc_record['650'].nil? ? '' : @bib.marc_record['650']['a'] 

%h3
  %span{ :class=>"glyphicon glyphicon-pencil"}
  Editing Record 
  %a{ :href => @bib.link, :target => 'blank', :title => "View me in WorldCat.org" }= @bib.id
  
%form{ :action => url('/update'), :method => 'POST', :role => 'form', :class => 'form-horizontal'}
  %div
    %input{ :type => 'hidden', :name => 'oclc_number', :value => @bib.id }
    
  %div{ :class => 'form-group'}
    %label{ :for=>'title', :class=>'col-sm-2 control-label' } Title
    %div{ :class=>'col-sm-10' }
      %input{ :type => 'text', :id => 'title', :name => 'title', :value => @bib.marc_record['245']['a'], :size => 40, :class => 'form-control', :onkeypress=>"get_language()" }

  %div{ :class => 'form-group'}
    %label{ :for=>'subtitle', :class=>'col-sm-2 control-label' } Sub-title
    %div{ :class=>'col-sm-10' }
      %input{ :type => 'text', :name => 'subtitle', :value => @bib.marc_record['245']['b'], :size => 40, :class => 'form-control' }

  %div{ :class => 'form-group'}
    %label{ :for=>'author', :class=>'col-sm-2 control-label' } Author
    %div{ :class=>'col-sm-10' }
      %input{ :type => 'text', :name => 'author', :value => author, :size => 40, :class => 'form-control' }
      
  %div{ :class => 'form-group'}
    %label{ :for=>'publisher', :class=>'col-sm-2 control-label' } Published by
    %div{ :class=>'col-sm-10' }  
      %input{ :type => 'text', :name => 'publisher', :value => publisher, :size => 40, :class => 'form-control' }

  %div{ :class => 'form-group'}
    %label{ :for=>'extent', :class=>'col-sm-2 control-label' } Physical Description
    %div{ :class=>'col-sm-10' }  
      %input{ :type => 'text', :name => 'extent', :value => extent, :size => 40, :class => 'form-control' }
      
  %div{ :class => 'form-group'}
    %label{ :for=>'subject', :class=>'col-sm-2 control-label' } Topic
    %div{ :class=>'col-sm-10' } 
      %input{ :type => 'text', :name => 'subject', :value => subject, :size => 40, :class => 'form-control' }
      
  %div{ :class => 'form-group'}
    %div{ :class => 'col-sm-offset-2 col-sm-10'}
      %button{ :type => 'submit', :class => 'btn btn-success' } Save

%h3
  %span{ :class=>"glyphicon glyphicon-list"}
  MARC Record View
  
%pre= @bib.marc_record

