-# record.haml 

- @data = Hash.new
- @data['id'] = @bib.id
- @data['title'] = @bib.marc_record['245']['a'].nil? ? '' : @bib.marc_record['245']['a']
- @data['author'] = @bib.marc_record['100'].nil? ? '' : @bib.marc_record['100']['a']
- @data['author'] = @bib.marc_record['110'].nil? ? @data['author'] : @bib.marc_record['110']['a']
- @data['author_is_person'] = @bib.marc_record['110'].nil? ? true : false
- @data['author_is_organization'] = @bib.marc_record['110'].nil? ? false : true
- @data['publisher'] = @bib.marc_record['260'].nil? ? '' : @bib.marc_record['260']['b']
- @data['publication_date'] = @bib.marc_record['260'].nil? ? '' : @bib.marc_record['260']['c']
- @data['extent'] = @bib.marc_record['300'].nil? ? '' : @bib.marc_record['300']['a']
- @data['subject'] = @bib.marc_record['650'].nil? ? '' : @bib.marc_record['650']['a']
- @button_label = "Update this Record"

- if @bib.is_app_created and belongs_to_current_user?(@bib.marc_record, INSTITUTIONS[session[:registry_id].to_i]['symbol'])

  %div.well
    %h3
      %span.glyphicon.glyphicon-pencil
      Edit Record 
      %a{ :href => @bib.link, :target => 'blank', :title => "View this record in WorldCat.org" }= @bib.id
    = partial :record_form, locals: {action: "/update", data: @data }

- else
  
  %div.well
    %div.alert.alert-info
      %span.glyphicon.glyphicon-exclamation-sign
      Sorry, but this record is not available for editing in this application.
    
    = partial :record_display, locals: {data: @data }

%div.row
  %div.col-md-12
    %a#marc-view-link.btn.btn-default.btn-sm{ :href => '#', :onClick => '$("#marc-view").toggle()', :title => "View the record in MARC format" }
      %span.glyphicon.glyphicon-list
      MARC Record View
    %a#marc-xml-link.btn.btn-default.btn-sm{ :href => url('/record/'+@bib.id+'.xml'), :title => "Download the record in MARC XML format" }
      %span.glyphicon.glyphicon-download
      Download the record in MARC XML
    %a#marc-marc21-link.btn.btn-default.btn-sm{ :href => url('/record/'+@bib.id+'.mrc'), :title => "Download the record in MARC21 transmission format" }
      %span.glyphicon.glyphicon-download
      Download the record in MARC21
    %div.pad_above
      %pre#marc-view= @bib.marc_record
