.logo_small {
  height: 50px;
}
.logo_medium {
  height: 80px;
}
.powered_by_worldcat {
  width: 88;
  height: 31;
}
.pad_above {
	padding-top: 1em;
}
.pad_below {
	padding-bottom: 1em;
}
.pad_right {
	padding-right: 1em;
}
.hint {
	color: #999;
}
