.logo_small {
  height: 50px;
}
.logo_medium {
  height: 60px;
}
#logo_text {
	font-weight: bold;
}
#logo_subtext {
	color: #CCC;
}
.powered_by_worldcat {
  width: 88;
  height: 31;
}
.pad_above {
	padding-top: 1em;
}
.pad_below {
	padding-bottom: 1em;
}
.pad_left {
	padding-left: 1em;
}
.pad_left_wide {
	padding-left: 10px;
}
.pad_right {
	padding-right: 1em;
}
pre {
	background-color: #FFF;
}
.pilot_list {
	font-size: 14pt; 
	font-weight: bold;
}
.header_institution_name {
	font-size: 12pt;
}
#marc-view {
	display: none;
}
#record_display {
	background-color: #FFF;
}
.list_heading {
	background-color: #999;
	color: #FFF;
}
.hint {
	color: #666;
}
.example {
	color: darkred;
	font-weight: bold;
}
.field_display_label {
	color: #4cae4c;
	width: 20%;
}
.field_label {
	font-weight: bold;
	font-size: 110%;
	color: #000;
}
.record_label {
	padding-bottom: 1em;
}

