.logo_small {
  height: 50px;
}
.logo_medium {
  height: 60px;
}
.powered_by_worldcat {
  width: 88;
  height: 31;
}
.pad_above {
	padding-top: 1em;
}
.pad_below {
	padding-bottom: 1em;
}
.pad_left {
	padding-left: 1em;
}
.pad_left_wide {
	padding-left: 10px;
}
.pad_right {
	padding-right: 1em;
}
.hint {
	color: #666;
}
.pilot_list {
	font-size: 14pt; 
	font-weight: bold;
}
.header_institution_name {
	font-size: 12pt;
}
.field_label {
	color: #666;
	width: 20%;
}
#marc-xml {
	font-family: Courier;
	font-size: 80%;
	padding: 8px;
}
#record_display {
	background-color: #FFF;
}
pre {
	background-color: #FFF;
}
.list_heading {
	background-color: #999;
	color: #FFF;
}
